<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sign.css" />
    <title>SignUp</title>
  </head>
  <body>
    
    <div class="login-box">
      <h2>Login</h2>
      <form method="POST" action="/users/login">
        <div class="user-box">
          <% if(locals.error){ %>
            <% if(error === "Invalid Email/Password"){ %>

            <div style="
            color: #ff0099;
            margin: 10px 2px;
            font-size: 0.8em;
            font-weight: bold;
            ">Invalid Email/Password</div>
           <% } %>

        <% } %>
          <input type="email" name="email" required="" />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" />
          <label>Password</label>
        </div>
        <a href="#">
      
          <button type="submit">Submit</button>
        </a>
      </form>
    </div>
  </body>
</html>
